* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
 h1{
	 text-transform: uppercase;
	 text-align: center;
	 color: white;
	 font-family: 'Roboto', sans-serif;
 }
 .jumbotron{
	  background-color: #7E15BF;
 }
 .subtitle h4{
	 text-align: center;
	 text-transform: uppercase;
	 color: #7E15BF;
	 font-family: 'Roboto', sans-serif;
	 font-size: 1.2em;
	 font-weight: bold;
 }
