* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
 h1{
	 text-transform: uppercase;
	 text-align: center;
	 color: white;
	 font-family: 'Roboto', sans-serif;
 }
 .jumbotron{
	  background-color: #7E15BF;
 }
 .subtitle h4{
	 text-align: center;
	 text-transform: uppercase;
	 color: #7E15BF;
	 font-family: 'Roboto', sans-serif;
	 font-size: 1.2em;
	 font-weight: bold;
	 padding-bottom: 2%;
 }
 h2{
	 font-family: 'Roboto', sans-serif;
	 font-size: 6rem;
	 text-align: center;
	 padding: 8%;
 }
 .card-1, .card-2, .card-3{
	 border: solid 4px  #7E15BF;
 }
 .card-1{
	 background-color: #FCF501;
 }
 .card-2{
	 background-color: #01FCF4;
 }
 .card-3{
	 background-color: #09FC01;
 }
.btn{
	background:#7E15BF;
	border:solid 4px white;
	border-radius: 25px;
	margin: 30px 0 20px 50px;
	color: white;
 padding-bottom: 10px;
 text-transform: uppercase;
 font-weight: bold;
 font-family: 'Roboto', sans-serif;
}
.bottom{
	background: black;
	margin-top: 10%;
	height:100px;
}
